<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <meta author="clodeindustrie">
    <meta decription="System de gestion des demandes d'interventions">
    <title><%=@pageTitle %></title>
    <!-- le html5 shim, for ie6-8 support of html elements -->
    <!--[if lt ie 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ui.daterangepicker.css">
    <link rel="stylesheet" href="/css/redmond/jquery-ui-1.7.1.custom.css">
    <link rel="stylesheet" media="print" href="/css/print.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/"><img src="/images/icon.jpg" height="25px" width="25px">Se Loger Pour Vivre</a>
	  <div class="nav-collapse">
	    <ul class="nav">
	      <li class=""><a href="/">Demandes d'intervention</a></li>
	      <% if current_user.admin?%>
		<li class=""><a href="/agents">Agents</a></li>
		<li class=""><a href="/addresses">Addresses</a></li>
	      <% end %>
	    </ul>
	    <ul class="nav pull-right">
              <li><a>Bonjour <%=current_user.nom%></a></li>
	      <li class="divider-vertical"></li>
	      <li class=""><a href="/logout">Deconnecter</a></li>
	    </ul>
	  </div><!-- /.nav-collapse -->
	</div>
      </div><!-- /navbar-inner -->
    </div>
    <% if !flash[:message].nil? && !flash[:message].blank? %>
    <div class="alert-feedback alert alert-success fade in">
      <button class="close" data-dismiss="alert" type="button">×</button>
      <%=flash[:message]%>
    </div>
    <% end %>
    <%=yield %>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/app.js"></script>
    <script>
          var errors = <%= !@errors.nil? ? @errors.to_json : '{}'%>;
	  ErrorDisplay.init(errors);
    </script>
  </body>
</html>
