<div class="row" class="retour">
  <div class="span2">
    <a href="/agents" title="Retour a la liste"><i class="icon-arrow-left"></i>Retour</a>
  </div>
</div>
<div class="span3 well">
  <legend>Agent</legend>
  <form accept-charset="UTF-8" action="" method="post">
    <div class="control-group">
      <input class="span3" id="nom" name="agent[nom]" placeholder="Nom" type="text" value="<%=@agent.nom unless @agent.nil? %>">
    </div>
    <div class="control-group">
      <input class="span3" id="email" name="agent[email]" placeholder="Email" type="text" value="<%=@agent.email unless @agent.nil?%>">
    </div>
    <div class="control-group">
      Rôle: <select name="agent[role_id]" id="role">
	<% @roles.each do |r| %>
	    <option value="<%=r.id %>" <%="selected" if !@agent.nil? && @agent.role_id == r.id %>><%=r[:nom] %></option>
	<% end %>
      </select>
    </div>
    <div class="control-group">
      <input class="span3" id="password" name="agent[password]" placeholder="Mot de passe" type="password">
    </div>
    <div class="control-group">
      <input class="span3" id="password_confirmation" name="agent[password_confirmation]" placeholder="Confirmation du mot de passe" type="password">
    </div>
    <button class="btn btn-info" type="submit"><%= @agent.id.nil? ? 'Ajouter' : 'Mettre a jour'%> Agent</button>
  </form>
</div>
