<div class="row" class="retour">
  <div class="span2">
    <a href="/" title="Retour a la liste"><i class="icon-arrow-left"></i>Retour</a>
  </div>
</div>
<div class="span6 well">
  <legend>Demande d'intervention</legend>
  <% if !@fiche.nil? && @fiche.statut != '' %>
  Statut: <span class="label <%=@fiche.cssStatus%>"><%=@fiche.statutText%></span>
  <% end %>
  <form accept-charset="UTF-8" action="<%=@nextAction%>" method="post">
    <div class="control-group">
      <label class="control-label" for="sujet">Intitulé</label>
      <input class="span3" name="fiche[sujet]" id="sujet" placeholder="Ex: Plomberie" type="text" value="<%=@fiche.sujet unless @fiche.nil? %>">
    </div>

    <div class="control-group">
      <label class="control-label" for="famille">Famille</label>
      <input class="span3" name="fiche[famille]" id="famille" placeholder="Nom de la famille" type="text" value="<%=@fiche.famille unless @fiche.nil?  %>">
    </div>

    <div class="control-group">
      <label class="control-label" for="addresse">Addresse</label>
      <select id="addresse" name="fiche[addresse_id]">
	<% @addresses.each do |a| %>
	<option value="<%=a.id %>"><%=a.addresse %></option>
	<% end %>
      </select>
    </div>

    <div class="control-group">
      <label class="control-label" for="contenue">Nature de l'intervention demandée</label>
      <textarea class="span4" id="contenue" name="fiche[contenue]" rows="5">
	<%=@fiche.contenue unless @fiche.nil? %>
      </textarea>
    </div>
    <%= newFicheButton current_user.role.nom %>
  </form>
</div>
