<div class="row" class="retour">
  <div class="span2">
    <a href="/" title="Retour a la liste"><i class="icon-arrow-left"></i>Retour</a>
  </div>
</div>
<div class="span4 well">
  <legend>Demande d'intervention</legend>
  <div id="formDetails">
    <% if !@fiche.nil? && !@fiche.statut.nil?  %>
    <span>Statut</span> <span id="statut" class="label label-<%=cssStatus(@fiche.statut.nom)%>"><%=@fiche.statut.nom %></span>
    <% if @fiche.statut.nom == "Rejetée"%>
            Raison de la rejection:
    <p><%=@fiche.observations %></p>
    <% end %>
    <% end %>
    <div>  <span>Intitulé</span><p class="pull-right"> <%=h @fiche.sujet %></p></div>
    <div>  <span>Famille </span><p class="pull-right"><%=h @fiche.famille %></p></div>
    <div>  <span>Addresse</span><p class="pull-right"><%=h @fiche.addresse.addresse %></p></div>
    <div class="textBlock">
      <span>Nature de l'intervention</span>
      <p class="freeText"><%=h @fiche.contenue %></p>
    </div>
    <div><span>Prioritée</span><p class="pull-right"><%=@fiche.getPriority%></p></div>
    <div class="textBlock">
      <span>Observations du responsable</span>
      <p class="freeText"><%=h @fiche.observations %></p>
    </div>
  </div>
  <form accept-charset="UTF-8" action="<%=@nextAction%>" method="post">
    <div class="control-group">
      <label class="control-label" for="done_at">Date de réalisation</label>

      <div class="input-append date" id="datepicker" data-date="today" data-date-format="dd-mm-yyyy" data-today-highlight="true">
        <input id="done_at" name="fiche[done_at]" class="date-pick" value="<%=@fiche.finie_le if !@fiche.nil?%>" type="date" placeholder="22/01/1981" readonly>
        <span class="add-on" id="date-button"><i class="icon-calendar"></i></span>
      </div>

    </div>

    <div class="control-group">
      <label class="control-label" for="travaux">Nature de l'intervention réalisée</label>
      <textarea class="span4" id="travaux" name="fiche[travaux]" rows="5"><%=h @fiche.travaux unless @fiche.nil? %></textarea>
    </div>
    <%= newFicheButton current_user.role.nom %>
  </form>
</div>
